/********* Import require styles *********/

@import "inc/mixin";

@import "inc/palette";
@import "inc/font";
@import "inc/grid";
@import "inc/base";

@import "style/header";
@import "style/footer";

@import "modal";


/********* Begin Style *********/

	body {
		min-width: 1300px;
	}

	::-webkit-scrollbar-track {
		background: transparentize($black, 0.85);
		border-radius: 30px;
	}

	::-webkit-scrollbar {
	  border-radius: 30px;
	  width: 5px;
	}

	::-webkit-scrollbar-thumb {
	  background-color: $black-l30;
		border-radius: 30px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	}


	@import "inc/ui/select";
	@import "inc/ui/button";

	.label {
		display: block;
		position: relative;

		@import "inc/ui/label/text";
		@import "inc/ui/label/checkbox";
		@import "inc/ui/label/range";
	}
