@import "inc/mixin";
@import "inc/palette";

$font-family  : "Roboto", sans-serif;
$font-serif   : "MerriWeather", serif;

#body {
  background: $white;
}

#archive {
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    font-weight: 400;
    margin: 16px 0;
    position: relative;
    text-align: center;

    &:before {
      background: $black;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      top: .6em;
      width: 100%;
      z-index: 1;
    }

    .text {
      background: $white;
      display: inline-block;
      font-family: inherit;
      padding: 0 16px;
      position: relative;
      z-index: 2;
    }
  }

  .search-block {
    font-size: 16px;
    position: relative;

    .icon {
      color: $white-d30;
      font-size: 24px;
      position: absolute;
      right: 16px;
      top: -.14em;
      transition: .15s all;
    }

    .input {
      border: 1px solid $white-d30;
      font-size: 16px;
      padding: 16px 64px 16px 16px;
      transition: .15s all;
      width: 100%;

      &:focus {
        border-color: $black-l30;

        ~ .icon {
          color: $black-l30;
        }
      }
    }
  }

  .filters {
    padding-right: 8px;
    vertical-align: top;

    .block {
      background: $white-d075;
      border: 1px solid $white-d15;
      padding: 16px;

      .tabs {
        border-bottom: 1px solid $white-d30;

        .tab {
          background: $transparent;
          color: $blue;
          cursor: pointer;
          display: block;
          margin: 4px 0;
          padding: 8px 16px;
          transition: .15s all;

          &:hover {
            background: $blue-t15;
          }

          &.active {
            background: $blue;
            color: $white;
          }
        }
      }

      .h3 {
        font-size: 16px;
        font-weight: 500;
        margin: 16px 0;
      }

      .option {
        margin: 16px 0;
      }

      .text {
        display: inline-block;
        cursor: pointer;
        font-size: 16px;
        vertical-align: middle;

        &.top {
          cursor: default;
          padding-top: 8px;
        }
      }

      .select-box {
        float: right;
      }
    }
  }

  .list {
    padding-left: 8px;
    vertical-align: top;

    .table {
      border: 1px solid $white-d15;
      border-spacing: 0;
      margin: 16px 0;
      width: 100%;

      .body {
        background: $white-d075;
      }

      .td {
        border-bottom: 2px solid $white;
      }

      .th, .td {
        padding: 8px;
        text-align: left;
        &:first-child { border-left: none; }

        &.id {
          text-align: center;
          width: 80px;
        }
        &.begin, &.end {
          text-align: center;
          width: 125px;
        }

        &.detail {
          text-align: center;
          width: 200px;
        }
      }

      .th {
        border-color: $white-d075;
        border-bottom: 3px solid $black-t15;
        padding-bottom: 16px;
        padding-top: 16px;
      }
    }
  }

}
