@import "inc/mixin";
@import "inc/palette";

$font-family  : "Roboto", sans-serif;
$font-serif   : "MerriWeather", serif;

#body {
  background: $white;
}

#enquiry {

  .title {
    display: block;
    font-size: 28px;
    font-weight: 400;
    margin: 16px auto;
    position: relative;
    text-align: center;

    &.small {
      font-size: 24px;
    }

    &:before {
      background: $black;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      top: .6em;
      width: 100%;
      z-index: 1;
    }

    .text {
      background: $white;
      display: inline-block;
      font-family: inherit;
      padding: 0 16px;
      position: relative;
      z-index: 2;
    }
  }

  .blocks {
    padding: 40px 0;

    .card {
      padding: 32px;
      vertical-align: top;
    }

    .block {
      background: $transparent;
      color: $white;
      cursor: pointer;
      display: block;
      height: 100%;
      text-align: center;
      transition: .15s background, .6s color;

      &.faq {
        background: $blue-l075;
        &:hover { background: $blue; }
      }

      &.manual {
        background: $red-l075;
        &:hover { background: $red; }
      }

      &.feedback {
        background: $green-l075;
        &:hover { background: $green; }
      }

      &.for-owners {
        background: $orange-l075;
        &:hover { background: $orange; }
      }

    }

    .icon {
      color: inherit;
      display: inline-block;
      font-size: 80px;
      padding-top: 52px;
      vertical-align: middle;
    }

    .name {
      color: inherit;
      display: block;
      font-weight: 500;
      font-size: 20px;
      margin: 0 auto;
      width: 70%;
    }
  }

  .contact {
    margin-bottom: 16px;

    .key {
      display: inline-block;
      font-weight: 500;
      text-align: left;
      width: 80px;
    }

    .value {
      display: inline-block;
      text-align: left;
      width: 240px;

      &.link {
        color: $blue;
        cursor: pointer;
        text-decoration: none;
        &:hover { text-decoration: underline; }
      }
    }
  }


  .manual {

    .block {
      background: $white-d075;
      border: 1px solid $white-d15;
      display: block;
      padding: 16px 32px;
      position: relative;
      margin: 16px auto;

      &:before {
        border-right: 30px solid transparent;
        border-top: 30px solid $red-l15;
        content: "";
        display: block;
        height: 0;
        left: -1px;
        position: absolute;
        top: -1px;
        width: 0;
      }
    }

    .link {
      color: $black;
      cursor: pointer;
      display: block;
      font-size: 18px;
      font-weight: 500;
      padding: 8px 0;
      &:hover {
        text-decoration: underline;
      }
    }

    .description {
      display: block;
      margin-bottom: 4px;
    }
  }


  .faq {

    .block {
      background: $white-d075;
      border: 1px solid $white-d15;
      display: block;
      padding: 16px 32px;
      position: relative;
      margin: 16px auto;

      &:before {
        border-right: 30px solid transparent;
        border-top: 30px solid $blue-l15;
        content: "";
        display: block;
        height: 0;
        left: -1px;
        position: absolute;
        top: -1px;
        width: 0;
      }

    }
    .link {
      color: $black;
      cursor: pointer;
      display: block;
      font-size: 18px;
      font-weight: 500;
      padding: 8px 0;

      .span {
        display: inline-block;
        border-bottom: 1px dashed $transparent;
        transition: .15s all;
      }

      &:hover .span {
        border-color: $black;
      }
    }

    .description {
      display: block;
      margin-bottom: 4px;
      overflow: hidden;
      max-height: 0;
      transition: .15s all;
    }

    .input {
      display: none;

      &:checked ~ .description {
        max-height: 500px;
      }
    }
  }
}

#map {
  background: $white-d15;
  display: block;
  height: 400px;
  margin: 32px auto 0 auto;
  position: relative;

  &:before {
    bottom: 0;
    color: $black-l30;
    content: "Мы на карте";
    display: block;
    font-size: 28px;
    font-weight: 500;
    left: 0;
    padding-top: 170px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}
