@import "inc/mixin";
@import "inc/palette";

$font-family  : "Roboto", sans-serif;
$font-serif   : "MerriWeather", serif;

#guide {
  background: $white-d15;
  margin-top: 60px;
  width: 100%;

  .title {
    font-family: $font-serif;
    font-size: 28px;
    font-weight: 400;
    margin: 16px 0;
    position: relative;
    text-align: center;

    &:before {
      background: $black;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      top: .6em;
      width: 100%;
      z-index: 1;
    }

    .text {
      background: $white-d15;
      display: inline-block;
      font-family: inherit;
      padding: 0 16px;
      position: relative;
      z-index: 2;
    }
  }
}
