#header {
  background: $black;
  position: relative;
  width: 100%;
  z-index: 3;

  .lang-dropdown {
    box-shadow: 0 0 0 $transparent;
    display: inline-block;
    position: relative;
    text-align: left;
    transition: .15s all;
    vertical-align: middle;
    width: 120px;
    z-index: 5;

    .icon {
      font-size: 14px;
      color: $white;
      position: absolute;
      left: 8px;
      top: 8px;
      transition: .15s all;
    }

    .options {
      background: $transparent;
      position: absolute;
      left: 0;
      max-height: 32px;
      overflow: hidden;
      top: -16px;
      transition: .15s all;
      width: 100%;

      .lang {
        color: $white;
        display: block;
        font-size: 14px;
        padding: 8px 16px 8px 28px;
        transition: .15s all;
      }

      &:hover {
        background: $white;
        box-shadow: 0 0 3px $black-l30;
        max-height: 160px;

        .icon {
          color: $black;
        }

        .lang {
          color: $black;

          &:hover {
            background: $white-d15;
            cursor: pointer;
          }
        }
      }
    }
  }

  .logo .text {
    color: $white;
    font-size: 24px;
    font-weight: 500;
  }

  .navigation {
    text-align: right;

    .login-link {
      display: inline-block;
      margin: 0 16px;

      .text {
        background: $transparent;
        color: $white;
        cursor: pointer;
        border: 1px solid $white;
        padding: 8px 16px;
        transition: .15s background, color;

        @include border-radius(0 50px 50px 0);

        &:hover {
          background: $white;
          color: $black;
        }
      }

      .sign-up {
        border-right: none;

        @include border-radius(50px 0 0 50px);
      }

    }
  }

  .nav {

    .link {
      color: $white;
      cursor: pointer;
      display: inline-block;
      margin: 0 4px;
      padding: 4px;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        color: $blue-l15;
        cursor: default;
        text-decoration: none;
      }
    }
  }
}
