$font-family  : "Roboto", sans-serif;
$font-serif   : "MerriWeather", serif;

/******************************/
/*                            */
/*        MerriWeather        */
/*                            */
/******************************/

/* Latin */

  @font-face {
    font-family: "MerriWeather";
    font-style: normal;
    font-weight: 400;
    src: local("MerriWeather"), local("MerriWeather-Regular"), url("/font/MerriWeather/Latin/Regular.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }


  /* Cyrilic */

  @font-face {
    font-family: "MerriWeather";
    font-style: normal;
    font-weight: 400;
    src: local("MerriWeather"), local("MerriWeather-Regular"), url("/font/MerriWeather/Cyrilic/Regular.woff2") format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }


  /* Cyrillic Extended */

  // @font-face {
  //   font-family: "MerriWeather";
  //   font-style: normal;
  //   font-weight: 400;
  //   src: local("MerriWeather"), local("MerriWeather-Regular"), url("/font/MerriWeather/Cyrillic-Extended/Regular.woff2") format("woff2");
  //   unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  // }



/******************************/
/*                            */
/*           Roboto           */
/*                            */
/******************************/

/* Latin */

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url("/font/Roboto/Latin/Thin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url("/font/Roboto/Latin/Light.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url("/font/Roboto/Latin/Light-Italic.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url("/font/Roboto/Latin/Regular.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url("/font/Roboto/Latin/Regular-Italic.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url("/font/Roboto/Latin/Medium.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url("/font/Roboto/Latin/Medium-Italic.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("/font/Roboto/Latin/Bold.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local("Roboto Black"), local("Roboto-Black"), url("/font/Roboto/Latin/Black.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }


/* Cyrilic */

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url("/font/Roboto/Cyrilic/Thin.woff2") format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url("/font/Roboto/Cyrilic/Light.woff2") format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url("/font/Roboto/Cyrilic/Light-Italic.woff2") format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url("/font/Roboto/Cyrilic/Regular.woff2") format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url("/font/Roboto/Cyrilic/Regular-Italic.woff2") format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url("/font/Roboto/Cyrilic/Medium.woff2") format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url("/font/Roboto/Cyrilic/Medium-Italic.woff2") format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("/font/Roboto/Cyrilic/Bold.woff2") format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local("Roboto Black"), local("Roboto-Black"), url("/font/Roboto/Cyrilic/Black.woff2") format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }


/* Cyrillic Extended */

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url("/font/Roboto/Cyrilic/Thin.woff2") format("woff2");
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url("/font/Roboto/Cyrilic/Light.woff2") format("woff2");
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url("/font/Roboto/Cyrilic/Light-Italic.woff2") format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url("/font/Roboto/Cyrilic/Regular.woff2") format("woff2");
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url("/font/Roboto/Cyrilic/Regular-Italic.woff2") format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url("/font/Roboto/Cyrilic/Medium.woff2") format("woff2");
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url("/font/Roboto/Cyrilic/Medium-Italic.woff2") format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("/font/Roboto/Cyrilic/Bold.woff2") format("woff2");
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local("Roboto Black"), local("Roboto-Black"), url("/font/Roboto/Cyrilic/Black.woff2") format("woff2");
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }



/******************************/
/*                            */
/*        Fontastic           */
/*                            */
/******************************/

// Icon font

  @font-face {
    font-family: "fontastic";
    src:url("/font/fontastic/fontastic.eot");
    src:url("/font/fontastic/fontastic.eot?#iefix") format("embedded-opentype"),
    url("/font/fontastic/fontastic.woff") format("woff"),
    url("/font/fontastic/fontastic.ttf") format("truetype"),
    url("/font/fontastic/fontastic.svg#fontastic") format("svg");
    font-weight: normal;
    font-style: normal;
  }

// Settings

  [data-icon]:before {
    font-family: "fontastic" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: "fontastic" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

// Alphabet
  .icon {
    &-add:before             { content: "\6a"; }
    &-archive:before         { content: "\75"; }
    &-arrow-down:before      { content: "\6c"; }
    &-book:before            { content: "\70"; }
    &-check:before           { content: "\6f"; }
    &-cog:before             { content: "\72"; }
    &-document-accept:before { content: "\6e"; }
    &-done:before            { content: "\6b"; }
    &-edit:before            { content: "\7a"; }
    &-eye:before             { content: "\6d"; }
    &-feedback:before        { content: "\44"; }
    &-file:before            { content: "\67"; }
    &-file-media:before      { content: "\79"; }
    &-file-settings:before   { content: "\76"; }
    &-files:before           { content: "\71"; }
    &-globe:before           { content: "\65"; }
    &-help:before            { content: "\43"; }
    &-key:before             { content: "\62"; }
    &-location:before        { content: "\41"; }
    &-logout:before          { content: "\73"; }
    &-search:before          { content: "\69"; }
    &-statistics:before      { content: "\77"; }
    &-status:before          { content: "\66"; }
    &-study:before           { content: "\68"; }
    &-submit:before          { content: "\63"; }
    &-tachometer:before      { content: "\78"; }
    &-translate:before       { content: "\42"; }
    &-user:before            { content: "\61"; }
    &-users:before           { content: "\74"; }
    &-vcard:before           { content: "\64"; }
    &-winrar:before          { content: "\45"; }
  }
