* {
  border: none;
  box-sizing: content-box;
  font-family: $font-family;
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

.content {
  display: block;
  padding: 16px 8px;
  width: 100%;

  &.vertical-padding { padding: 16px 0; }
  &.horizontal-padding { padding: 0 8px; }

  &.justify {
    text-align: justify;

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }
}

.line {
  display: inline-block;
  vertical-align: middle;

  &.bottom { vertical-align: bottom; }
  &.top { vertical-align: top; }
}

.width {
  margin-left: 0;
  margin-right: 0;
  width: 320px;
}
